! Make fonts look nice
Xft.antialias:true
Xft.hinting:true
! hintslight | hintsmedium | hintsfull
Xft.hintstyle:hintsfull
! rgba subpixel hinting (for LCDs)
Xft.rgba:subpixel
xft.dpi: 96
URxvt.letterSpace: -1

!Home/End
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~

! Screw scrolling, I have tmux
urxvt*internalBorder: 0
urxvt*scrollstyle: rxvt
urxvt*scrollBar: false
urxvt*depth: 32
urxvt*saveLines: 0
urxvt*secondaryScroll: false

rxvt.urgentOnBell: true

!COLORS
urxvt*foreground:#a0a0a0
urxvt*background:#1B1D1E
! black
urxvt*color0:    #1B1D1E
urxvt*color8:    #505354
! red
urxvt*color1:    #F92672
urxvt*color9:    #FF669D
! green
urxvt*color2:    #76B22E
urxvt*color10:   #9ECD3F
! yellow
urxvt*color3:    #FD971F
urxvt*color11:   #E6DB74
! blue
urxvt*color4:    #C629FF
urxvt*color12:   #038ACF
! magenta
urxvt*color5:    #9E6FFE
urxvt*color13:   #9E6FFE
! cyan
urxvt*color6:    #5E7175
urxvt*color14:   #66D9EF
! white
urxvt*color7:    #CCCCC6
urxvt*color15:   #F8F8F2

URxvt.font:                 xft:Menlo\ for\ Powerline:regular:size=12
URxvt.imFont:               xft:Menlo\ for\ Powerline:regular:size=12
URxvt.boldFont:             xft:Menlo for Powerline:bold:size=14
URxvt.italicFont:           xft:Menlo for Powerline:italic:size=14
URxvt.boldItalicFont:       xft:Menlo for Powerline:bold:italic:size=14

URxvt*urgentOnBell: true
XTerm*bellIsUrgent: true

!Set correct terminal type
XTerm*termName: xterm-256color
URxvt*termName: rxvt-unicode

